[Unit]
Description=mysocket daemon
After=network.target

[Service]
User=administrator
WorkingDirectory=/home/administrator/Cardio
ExecStart=/home/administrator/venv/bin/python CardioApp/mysocket.py

[Install]
WantedBy=multi-user.target
