[Unit]
Description=mysocket daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/cardio/Cardio
ExecStart=/var/www/cardio/venv/bin/python utils/mysocket.py

[Install]
WantedBy=multi-user.target
