[Unit]
Description=mysocket daemon
After=network.target

[Service]
User=administrator
WorkingDirectory=/var/www/cardio/Cardio
ExecStart=/var/www/cardio/venv/bin/python CardioApp/mysocket.py

[Install]
WantedBy=multi-user.target
